* {
    box-sizing: border-box;
}

    *:before,
    *:after {
        box-sizing: border-box;
    }

html,
body {
    height: 100%;
    position: relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.flashcard {
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background-color: lightgray;
    text-align: center;
    height: 30vh;
    line-height: 30vh;
}

.main-container {
    min-height: 100vh !important; /* will cover the 100% of viewport */
    overflow: hidden !important;
    display: block !important;
    position: relative !important;
    /*padding-bottom: 2.5vh !important;*/ /* height of your footer */
}

footer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 5vh !important;
    background-color: lightgray !important;
}