body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.flashcard {
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    background-color: lightgray;
    text-align: center;
    height: 30vh;
    line-height: 30vh;
}

#page-container {
    position: relative !important;
    min-height: 100vh !important;
}

#content-wrap {
    padding-bottom: 2.5rem !important; /* Footer height */
}

#footer {
    position: absolute !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 2.5rem !important; /* Footer height */
}
