@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="row">
    <div class="col-sm-6">
        <img src="~/Content/img/home_header-1-1024x786.png" class="img-responsive" draggable="false"/>
    </div>
    <div class="col-sm-6 jumbotron">
        <h1>Learning done right</h1>
        <p>_Name uses a proven method for learning retention called spaced repetition. We space out your reviews at a rate proven to keep what you need in your long term memory for the longest periods possible</p>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Go to my decks", "Index", "Deck", null, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Register Now", "Register", "Account", null, new { @class = "btn btn-primary" })
        }
    </div>
</div>