@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <br />
    <br />
    <div class="col-sm-6">
        <img src="~/Content/img/home_header-1-1024x786.png" class="img-responsive" draggable="false" />
    </div>
    <div class="col-sm-6 jumbotron">
        <h1>Learning done right</h1>
        <p>_Name uses a proven method for learning retention called spaced repetition. We space out your reviews at a rate proven to keep what you need in your long term memory for the longest periods possible</p>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Go to my decks", "Index", "Deck", null, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Register Now", "Register", "Account", null, new { @class = "btn btn-primary" })
        }
    </div>
</div>

@*<div class="row">
        <div class="col-sm-6">
            <p>Nun gut seelen hören im blick mich die mir noch beifall es mögt nach wohl getäuscht was so liebe getäuscht stillen bang jenem schmerz busen zerstoben und ich wieder schwankende gleich sang und blick gedränge freundschaft hinweggeschwunden geisterreich die noch nun um es versuch fühl liebe verklungen noch ist neu mich kommt festzuhalten folgt und stunden lieb gut bilder wird diesmal sich neu vom herauf euch welt mein und lied verschwand träne unbekannten ach halbverklungnen schatten seh noch froher herz und schauer vor widerklang zug und stunden fühl ein noch naht kommt hinweggeschwunden geneigt menge guten ich jugendlich sich wieder</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
            <p>Nun gut seelen hören im blick mich die mir noch beifall es mögt nach wohl getäuscht was so liebe getäuscht stillen bang jenem schmerz busen zerstoben und ich wieder schwankende gleich sang und blick gedränge freundschaft hinweggeschwunden geisterreich die noch nun um es versuch fühl liebe verklungen noch ist neu mich kommt festzuhalten folgt und stunden lieb gut bilder wird diesmal sich neu vom herauf euch welt mein und lied verschwand träne unbekannten ach halbverklungnen schatten seh noch froher herz und schauer vor widerklang zug und stunden fühl ein noch naht kommt hinweggeschwunden geneigt menge guten ich jugendlich sich wieder</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p>Nun gut seelen hören im blick mich die mir noch beifall es mögt nach wohl getäuscht was so liebe getäuscht stillen bang jenem schmerz busen zerstoben und ich wieder schwankende gleich sang und blick gedränge freundschaft hinweggeschwunden geisterreich die noch nun um es versuch fühl liebe verklungen noch ist neu mich kommt festzuhalten folgt und stunden lieb gut bilder wird diesmal sich neu vom herauf euch welt mein und lied verschwand träne unbekannten ach halbverklungnen schatten seh noch froher herz und schauer vor widerklang zug und stunden fühl ein noch naht kommt hinweggeschwunden geneigt menge guten ich jugendlich sich wieder</p>
        </div>
    </div>*@