@model SpacedRepetition.Models.Card

<div class="row">
    <div class="col-sm-6">
        <div class="flashcard">
            @Html.DisplayFor(m => m.CardFront)
        </div>
    </div>
    <div class="col-sm-6">
        <div class="flashcard">
            @Html.DisplayFor(m => m.CardBack)
        </div>
    </div>
</div>