@model IEnumerable<SpacedRepetition.Models.Card>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="theId">
    @Html.Partial("_Flashcard", Model.ElementAt(0))
</div>
<br />
@Html.ActionLink("Review", "Review", new { deckId = Model.ElementAt(0).Deck.Id, cardId = Model.ElementAt(0).Id}, new { @class = "btn btn-default"})


